.service-tab-box .tab-title li a:before{
    background: #0ce26d;
}
.video-box-design-guide{ 
    text-align: center;
}
.thm-container{
    display: block;
}

.service-style-one .service-right-content{
    background: #fff;
    position: relative;
}
.single-service-one:hover{
    background: rgb(9 28 22);
}

.service-tab-box .tab-title li a:before{
    background: #0ce26d;
}



